:export {
  menuText: #fff;
  menuActiveText: #ffd04b;
  subMenuActiveText: #f4f4f5;
  menuBg: #545c64;
  menuHover: #263445;
  subMenuBg: #1f2d3d;
  subMenuHover: #001528;
  sideBarWidth: 210px;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.28s;
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.breadcrumb-move {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-badge__content.is-fixed {
  top: 11px !important;
  right: 28px !important;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type='file'] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.el-dialog {
  -webkit-transform: none;
          transform: none;
  left: 0;
  position: relative;
  /* margin: 0 auto; */
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

.el-date-editor .el-range-separator {
  width: 7%;
}

.el-form-item__label {
  font-weight: normal;
  line-height: 32px !important;
}

.el-input__inner {
  height: 32px !important;
  line-height: 32px !important;
}

.el-input {
  line-height: 32px !important;
}

.el-form-item__content {
  line-height: 32px !important;
}

.el-checkbox {
  height: 32px !important;
}

.el-radio {
  height: 32px !important;
}

.el-input__icon {
  line-height: 32px !important;
}

.el-select-dropdown__item {
  height: 32px !important;
  line-height: 32px !important;
}

#app .main-container {
  min-height: 100%;
  -webkit-transition: margin-left 0.28s;
  transition: margin-left 0.28s;
  margin-left: 210px;
  position: relative;
}

#app .sidebar-container {
  -webkit-transition: width 0.28s;
  transition: width 0.28s;
  width: 210px !important;
  background-color: #545c64;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

#app .sidebar-container .horizontal-collapse-transition {
  -webkit-transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

#app .sidebar-container .scrollbar-wrapper {
  overflow-x: hidden !important;
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
  right: 0px;
}

#app .sidebar-container .el-scrollbar {
  height: 100%;
}

#app .sidebar-container.has-logo .el-scrollbar {
  height: calc(100% - 50px);
}

#app .sidebar-container .is-horizontal {
  display: none;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}

#app .sidebar-container .submenu-title-noDropdown:hover,
#app .sidebar-container .el-sub-menu__title:hover {
  background-color: #263445 !important;
}

#app .sidebar-container .is-active > .el-sub-menu__title {
  color: #f4f4f5 !important;
}

#app .sidebar-container .nest-menu .el-sub-menu > .el-sub-menu__title,
#app .sidebar-container .el-sub-menu .el-menu-item {
  min-width: 210px !important;
  background-color: #1f2d3d !important;
}

#app .sidebar-container .nest-menu .el-sub-menu > .el-sub-menu__title:hover,
#app .sidebar-container .el-sub-menu .el-menu-item:hover {
  background-color: #001528 !important;
}

#app .hideSidebar .sidebar-container {
  width: 63px !important;
}

#app .hideSidebar .main-container {
  margin-left: 54px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 !important;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-sub-menu {
  overflow: hidden;
}

#app .hideSidebar .el-sub-menu > .el-sub-menu__title {
  padding: 0 !important;
}

#app .hideSidebar .el-sub-menu > .el-sub-menu__title .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-sub-menu > .el-sub-menu__title .el-sub-menu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-menu--collapse .el-sub-menu > .el-sub-menu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

#app .el-menu--collapse .el-menu .el-sub-menu {
  min-width: 210px !important;
}

#app .mobile .main-container {
  margin-left: 0px;
}

#app .mobile .sidebar-container {
  -webkit-transition: -webkit-transform 0.28s;
  transition: -webkit-transform 0.28s;
  transition: transform 0.28s;
  transition: transform 0.28s, -webkit-transform 0.28s;
  width: 210px !important;
}

#app .mobile.hideSidebar .sidebar-container {
  pointer-events: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: translate3d(-210px, 0, 0);
          transform: translate3d(-210px, 0, 0);
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  -webkit-transition: none;
  transition: none;
}

.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 16px;
}

.el-menu--vertical .nest-menu .el-sub-menu > .el-sub-menu__title:hover,
.el-menu--vertical .el-menu-item:hover {
  background-color: #263445 !important;
}

.el-menu--vertical > .el-menu--popup {
  max-height: 100vh;
  overflow-y: auto;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar {
  width: 6px;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}

@font-face {
  font-family: 'IconFont';
  src: url("../assets/font/iconfont.eot");
  /* IE9*/
  src: url("../assets/font/iconfont.eot#iefix") format("embedded-opentype"), url("../assets/font/iconfont.woff") format("woff"), url("../assets/font/iconfont.ttf") format("truetype"), url("../assets/font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.ic {
  font-family: 'IconFont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

.ic-accessory:before {
  content: '\e6dd';
}

.ic-activity:before {
  content: '\e6de';
}

.ic-activity-fill:before {
  content: '\e6df';
}

.ic-add:before {
  content: '\e6e0';
}

.ic-addition-fill:before {
  content: '\e6e1';
}

.ic-addition:before {
  content: '\e6e2';
}

.ic-addpeople-fill:before {
  content: '\e6e3';
}

.ic-addpeople:before {
  content: '\e6e4';
}

.ic-addressbook-fill:before {
  content: '\e6e5';
}

.ic-addressbook:before {
  content: '\e6e6';
}

.ic-barrage-fill:before {
  content: '\e6e7';
}

.ic-barrage:before {
  content: '\e6e8';
}

.ic-browse-fill:before {
  content: '\e6e9';
}

.ic-browse:before {
  content: '\e6ea';
}

.ic-brush:before {
  content: '\e6eb';
}

.ic-brush-fill:before {
  content: '\e6ec';
}

.ic-businesscard-fill:before {
  content: '\e6ed';
}

.ic-businesscard:before {
  content: '\e6ee';
}

.ic-camera-fill:before {
  content: '\e6ef';
}

.ic-camera:before {
  content: '\e6f0';
}

.ic-clock-fill:before {
  content: '\e6f1';
}

.ic-clock:before {
  content: '\e6f2';
}

.ic-close:before {
  content: '\e6f3';
}

.ic-collection-fill:before {
  content: '\e6f4';
}

.ic-collection:before {
  content: '\e6f5';
}

.ic-computer-fill:before {
  content: '\e6f6';
}

.ic-computer:before {
  content: '\e6f7';
}

.ic-coordinates-fill:before {
  content: '\e6f8';
}

.ic-coordinates:before {
  content: '\e6f9';
}

.ic-coupons-fill:before {
  content: '\e6fa';
}

.ic-coupons:before {
  content: '\e6fb';
}

.ic-createtask-fill:before {
  content: '\e6fc';
}

.ic-createtask:before {
  content: '\e6fd';
}

.ic-customerservice-fill:before {
  content: '\e6fe';
}

.ic-customerservice:before {
  content: '\e6ff';
}

.ic-delete-fill:before {
  content: '\e700';
}

.ic-delete:before {
  content: '\e701';
}

.ic-document:before {
  content: '\e702';
}

.ic-document-fill:before {
  content: '\e703';
}

.ic-dynamic-fill:before {
  content: '\e704';
}

.ic-dynamic:before {
  content: '\e705';
}

.ic-editor:before {
  content: '\e706';
}

.ic-eit:before {
  content: '\e707';
}

.ic-emoji-fill:before {
  content: '\e708';
}

.ic-emoji:before {
  content: '\e709';
}

.ic-empty:before {
  content: '\e70a';
}

.ic-empty-fill:before {
  content: '\e70b';
}

.ic-enter:before {
  content: '\e70c';
}

.ic-enterinto:before {
  content: '\e70d';
}

.ic-enterinto-fill:before {
  content: '\e70e';
}

.ic-feedback-fill:before {
  content: '\e70f';
}

.ic-feedback:before {
  content: '\e710';
}

.ic-flag-fill:before {
  content: '\e711';
}

.ic-flag:before {
  content: '\e712';
}

.ic-flashlight:before {
  content: '\e713';
}

.ic-flashlight-fill:before {
  content: '\e714';
}

.ic-flip:before {
  content: '\e715';
}

.ic-flip-fill:before {
  content: '\e716';
}

.ic-fullscreen:before {
  content: '\e717';
}

.ic-group:before {
  content: '\e718';
}

.ic-group-fill:before {
  content: '\e719';
}

.ic-headlines-fill:before {
  content: '\e71a';
}

.ic-headlines:before {
  content: '\e71b';
}

.ic-homepage-fill:before {
  content: '\e71c';
}

.ic-homepage:before {
  content: '\e71d';
}

.ic-integral-fill:before {
  content: '\e71e';
}

.ic-integral:before {
  content: '\e71f';
}

.ic-interactive-fill:before {
  content: '\e720';
}

.ic-interactive:before {
  content: '\e721';
}

.ic-keyboard:before {
  content: '\e722';
}

.ic-label:before {
  content: '\e723';
}

.ic-label-fill:before {
  content: '\e724';
}

.ic-like-fill:before {
  content: '\e725';
}

.ic-like:before {
  content: '\e726';
}

.ic-live-fill:before {
  content: '\e727';
}

.ic-live:before {
  content: '\e728';
}

.ic-lock-fill:before {
  content: '\e729';
}

.ic-lock:before {
  content: '\e72a';
}

.ic-mail:before {
  content: '\e72b';
}

.ic-mail-fill:before {
  content: '\e72c';
}

.ic-manage-fill:before {
  content: '\e72d';
}

.ic-manage:before {
  content: '\e72e';
}

.ic-message:before {
  content: '\e72f';
}

.ic-message-fill:before {
  content: '\e730';
}

.ic-mine:before {
  content: '\e731';
}

.ic-mine-fill:before {
  content: '\e732';
}

.ic-mobilephone-fill:before {
  content: '\e733';
}

.ic-mobilephone:before {
  content: '\e734';
}

.ic-more:before {
  content: '\e735';
}

.ic-narrow:before {
  content: '\e736';
}

.ic-offline-fill:before {
  content: '\e737';
}

.ic-offline:before {
  content: '\e738';
}

.ic-order-fill:before {
  content: '\e739';
}

.ic-order:before {
  content: '\e73a';
}

.ic-other:before {
  content: '\e73b';
}

.ic-people-fill:before {
  content: '\e73c';
}

.ic-people:before {
  content: '\e73d';
}

.ic-picture-fill:before {
  content: '\e73e';
}

.ic-picture:before {
  content: '\e73f';
}

.ic-play:before {
  content: '\e740';
}

.ic-play-fill:before {
  content: '\e741';
}

.ic-playon-fill:before {
  content: '\e742';
}

.ic-playon:before {
  content: '\e743';
}

.ic-praise-fill:before {
  content: '\e744';
}

.ic-praise:before {
  content: '\e745';
}

.ic-prompt-fill:before {
  content: '\e746';
}

.ic-prompt:before {
  content: '\e747';
}

.ic-qrcode-fill:before {
  content: '\e748';
}

.ic-qrcode:before {
  content: '\e749';
}

.ic-redpacket-fill:before {
  content: '\e74a';
}

.ic-redpacket:before {
  content: '\e74b';
}

.ic-refresh:before {
  content: '\e74c';
}

.ic-remind-fill:before {
  content: '\e74d';
}

.ic-remind:before {
  content: '\e74e';
}

.ic-return:before {
  content: '\e74f';
}

.ic-right:before {
  content: '\e750';
}

.ic-scan:before {
  content: '\e751';
}

.ic-select-fill:before {
  content: '\e752';
}

.ic-select:before {
  content: '\e753';
}

.ic-send:before {
  content: '\e754';
}

.ic-service-fill:before {
  content: '\e755';
}

.ic-service:before {
  content: '\e756';
}

.ic-setup-fill:before {
  content: '\e757';
}

.ic-setup:before {
  content: '\e758';
}

.ic-share-fill:before {
  content: '\e759';
}

.ic-share:before {
  content: '\e75a';
}

.ic-shielding-fill:before {
  content: '\e75b';
}

.ic-shielding:before {
  content: '\e75c';
}

.ic-smallscreen-fill:before {
  content: '\e75d';
}

.ic-smallscreen:before {
  content: '\e75e';
}

.ic-stealth-fill:before {
  content: '\e75f';
}

.ic-stealth:before {
  content: '\e760';
}

.ic-success-fill:before {
  content: '\e761';
}

.ic-success:before {
  content: '\e762';
}

.ic-suspend:before {
  content: '\e763';
}

.ic-switch:before {
  content: '\e764';
}

.ic-systemprompt-fill:before {
  content: '\e765';
}

.ic-systemprompt:before {
  content: '\e766';
}

.ic-tailor:before {
  content: '\e767';
}

.ic-task:before {
  content: '\e768';
}

.ic-task-fill:before {
  content: '\e769';
}

.ic-tasklist-fill:before {
  content: '\e76a';
}

.ic-tasklist:before {
  content: '\e76b';
}

.ic-text:before {
  content: '\e76c';
}

.ic-time-fill:before {
  content: '\e76d';
}

.ic-time:before {
  content: '\e76e';
}

.ic-translation-fill:before {
  content: '\e76f';
}

.ic-translation:before {
  content: '\e770';
}

.ic-trash:before {
  content: '\e771';
}

.ic-trash-fill:before {
  content: '\e772';
}

.ic-undo:before {
  content: '\e773';
}

.ic-unlock-fill:before {
  content: '\e774';
}

.ic-unlock:before {
  content: '\e775';
}

.ic-video:before {
  content: '\e776';
}

.ic-video-fill:before {
  content: '\e777';
}

.ic-warning-fill:before {
  content: '\e778';
}

.ic-warning:before {
  content: '\e779';
}

.ic-workbench-fill:before {
  content: '\e77a';
}

.ic-workbench:before {
  content: '\e77b';
}

.ic-search:before {
  content: '\e77c';
}

.ic-searchfill:before {
  content: '\e77d';
}

.ic-qianniu:before {
  content: '\e77e';
}

.ic-publishgoods-fill:before {
  content: '\e77f';
}

.ic-shop-fill:before {
  content: '\e780';
}

.ic-transaction-fill:before {
  content: '\e781';
}

.ic-packup:before {
  content: '\e782';
}

.ic-unfold:before {
  content: '\e783';
}

.ic-wangwang:before {
  content: '\e784';
}

.ic-financial-fill:before {
  content: '\e785';
}

.ic-marketing-fill:before {
  content: '\e786';
}

.ic-shake:before {
  content: '\e787';
}

.ic-decoration-fill:before {
  content: '\e788';
}

.ic-budaidise:before {
  content: '\e789';
}

.ic-qianniudaidise:before {
  content: '\e78a';
}

.ic-questions:before {
  content: '\e78b';
}

.ic-supply:before {
  content: '\e78c';
}

.ic-tools:before {
  content: '\e78d';
}

.ic-int:before {
  content: '\e78e';
}

.ic-commodity:before {
  content: '\e78f';
}

.ic-zhtn:before {
  content: '\e790';
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.app-container {
  padding: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.w120 {
  width: 120px;
}

.w140 {
  width: 140px;
}

.w160 {
  width: 160px;
}

.w180 {
  width: 180px;
}

.w200 {
  width: 200px;
}

.w220 {
  width: 220px;
}

.w240 {
  width: 240px;
}

.w260 {
  width: 260px;
}

.slot-header {
  font-size: 12px;
  color: #ccc;
  line-height: 16px;
}

[class*='ic-'],
[class^='ic-'] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}
/*# sourceMappingURL=index.css.map */
